.register-form {
	width: 100%;
	display: flex;
	flex-direction: column;

	.register-form__wrapper {
		margin-top: 24px;
	}

	.register-form__label {
		padding: 0 0 5px;
		font-size: 14px;
		font-weight: 700;
		display: flex;
		justify-content: space-between;
	}

	.register-form__field {
		box-sizing: border-box;
		width: 100%;
		height: 30px;
		font-size: 16px;
		outline: none;
		padding: 0 10px;
		border: 0;
		border: 2px solid transparent;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		transition: 0.2s;
		&:focus {
			border: 2px solid var(--color-main-blue);
			background-color: white;
			// transition: 0.25s;
		}
	}
}
