.container {
  width: 100%;
  padding: 0 20px 0 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  // display: flex;
  // align-items: center;
}

.container-fluid {
  width: 100%;
}



.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.space-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$columns: 12;
$large: 1600px;
$big: 1200px;
$medium: 992px;
$small: 768px;
$xsmall: 576px;

@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 100% / $columns * $i;
  }
}
@media(min-width: $large) {
  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
  }
}
@media(max-width: $large) {
  @for $i from 1 through $columns {
    .col-bg-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
  }
}
@media(max-width: $big) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
  }
}
@media(max-width: $medium) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
  }
}
@media(max-width: $small) {
  @for $i from 1 through $columns {
    .col-xs-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
  }
}

@media(max-width: $xsmall) {
  @for $i from 1 through $columns {
    .col-us-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
  }
}






