@import './_grid.scss';

html {
	--color-main-white: white;
	--color-main-black: black;

	--color-main-blue: #208efc;

	--color-main-dark: #333333;

	--color-main-grey: #7a7a7a;
	--color-main-lightgrey: #e8e8e8;

	--color-opacity25: rgba(0, 0, 0, 0.25);
	--color-opacity50: rgba(0, 0, 0, 0.5);
	--color-opacity75: rgba(0, 0, 0, 0.75);
}

body {
	font-family: sans-serif;
	margin: 0;
	background-color: #e9e9e9;
}

h2 {
	color: var(--color-main-dark);
	cursor: pointer;
}

h2:hover {
	color: var(--color-main-blue);
}

a {
	text-decoration: inherit;
	color: inherit;
}

::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color-main-lightgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-main-black);
}
